################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LongGone/.vs/LongGone/v16
/LongGone/LongGone/obj
/LongGone/LongGone/bin/Debug/netcoreapp3.0
